<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <inpost_pay>
                <active>0</active>
                <test_mode_active>0</test_mode_active>
                <widget_enabled>1</widget_enabled>
                <can_use_checkout>1</can_use_checkout>
                <model>InPostPayPaymentFacade</model>
                <title>InPost Pay</title>
                <order_status>pending</order_status>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <allowspecific>0</allowspecific>
                <image_role>small_image</image_role>
                <additional_images_enabled>0</additional_images_enabled>
                <prepare_resized_additional_images>0</prepare_resized_additional_images>
                <sort_order>5</sort_order>
                <min_order_total>0</min_order_total>
                <max_order_total>99999</max_order_total>
                <delivery_deadline_in_days>7</delivery_deadline_in_days>
                <estimate_with_collect_address_totals>0</estimate_with_collect_address_totals>
                <digital_delivery_deadline_in_days>86400</digital_delivery_deadline_in_days>
                <basket_lifetime>604800</basket_lifetime>
                <client_id></client_id>
                <client_secret></client_secret>
                <auth_token_url>https://login.inpost.pl/</auth_token_url>
                <product_cart_enabled>1</product_cart_enabled>
                <cart_enabled>1</cart_enabled>
                <cart_url>checkout/cart</cart_url>
                <send_session_cookie>0</send_session_cookie>
                <success_page_enabled>1</success_page_enabled>
                <success_page_url>checkout/onepage/success</success_page_url>
                <widget_background_color>light</widget_background_color>
                <widget_color_variant>primary</widget_color_variant>
                <widget_size>size-md</widget_size>
                <widget_frame_shape>square</widget_frame_shape>
                <izi_api_url>https://api.inpost.pl/</izi_api_url>
                <widget_script_url>https://inpostpay-widget-v2.inpost.pl/inpostpay.widget.v2.js</widget_script_url>
                <use_defined_payment_methods>0</use_defined_payment_methods>
                <async_basket_export>0</async_basket_export>
                <remove_html_and_special_chars_from_attributes>1</remove_html_and_special_chars_from_attributes>
                <sandbox_enabled>0</sandbox_enabled>
                <sandbox_client_id></sandbox_client_id>
                <sandbox_client_secret></sandbox_client_secret>
                <sandbox_auth_token_url>https://sandbox-login.inpost.pl/</sandbox_auth_token_url>
                <sandbox_izi_api_url>https://sandbox-api.inpost.pl/</sandbox_izi_api_url>
                <sandbox_widget_script_url>https://sandbox-inpostpay-widget-v2.inpost.pl/inpostpay.widget.v2.js</sandbox_widget_script_url>
                <use_legacy_terms_and_conditions_mapping>1</use_legacy_terms_and_conditions_mapping>
                <min_log_level>100</min_log_level>
                <anonymise_objects_enabled>1</anonymise_objects_enabled>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <is_offline>0</is_offline>
                <use_address_as_firstname_source>0</use_address_as_firstname_source>
                <omnibus_lowest_price_product_attribute>none</omnibus_lowest_price_product_attribute>
                <enable_custom_promo_price_for_customer_group>0</enable_custom_promo_price_for_customer_group>
                <assign_quote_to_customer_by_email>1</assign_quote_to_customer_by_email>
                <synchronize_bestsellers_enabled>0</synchronize_bestsellers_enabled>
                <ean_product_attribute>sku</ean_product_attribute>
                <bestsellers_synchronize_cron_enabled>0</bestsellers_synchronize_cron_enabled>
                <bestsellers_synchronize_mode>upload</bestsellers_synchronize_mode>
                <bestsellers_synchronize_cron_schedule>30 6 * * *</bestsellers_synchronize_cron_schedule>
                <promotions_enabled>0</promotions_enabled>
                <analytics_enabled>0</analytics_enabled>
                <ga_api_url>https://www.google-analytics.com/mp/collect</ga_api_url>
                <analytics_async_sending_enabled>0</analytics_async_sending_enabled>
                <analytics_async_sending_enabled>0</analytics_async_sending_enabled>
                <analytics_async_sending_cron_schedule>*/5 * * * *</analytics_async_sending_cron_schedule>
                <sending_fbclid_enabled>0</sending_fbclid_enabled>
                <sending_gclid_enabled>0</sending_gclid_enabled>
                <order_errors_handling_timeout_is_enabled>0</order_errors_handling_timeout_is_enabled>
                <order_errors_handling_timed_out_cron_schedule>5,35 * * * *</order_errors_handling_timed_out_cron_schedule>
            </inpost_pay>
        </payment>
    </default>
</config>
