<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="inpost_pay_checkout_agreement_save_before">
        <observer name="InPost_InPostPay::deleteInPostPayCheckoutAgreementAssignedStoresEventObserver" instance="InPost\InPostPay\Observer\CheckoutAgreement\DeleteInPostPayCheckoutAgreementAssignedStoresEventObserver" />
        <observer name="InPost_InPostPay::validateSubAgreementUsageInParentAgreementsBeforeDisable" instance="InPost\InPostPay\Observer\CheckoutAgreement\ValidateSubAgreementUsageInParentAgreementsBeforeDisableEventObserver" />
    </event>
    <event name="inpost_pay_checkout_agreement_delete_before">
        <observer name="InPost_InPostPay::validateSubAgreementUsageInParentAgreementsBeforeDelete" instance="InPost\InPostPay\Observer\CheckoutAgreement\ValidateSubAgreementUsageInParentAgreementsBeforeDeleteEventObserver" />
    </event>
    <event name="inpost_pay_checkout_agreement_save_commit_after">
        <observer name="InPost_InPostPay::insertInPostPayCheckoutAgreementAssignedStoresEventObserver" instance="InPost\InPostPay\Observer\CheckoutAgreement\InsertInPostPayCheckoutAgreementAssignedStoresEventObserver" />
        <observer name="InPost_InPostPay::clearCacheAfterInPostPayCheckoutAgreementSaveEventObserver" instance="InPost\InPostPay\Observer\CheckoutAgreement\ClearCacheAfterInPostPayCheckoutAgreementSaveEventObserver" />
    </event>
    <event name="sales_quote_save_commit_after">
        <observer name="InPost_InPostPay::updateInPostBasketEventObserver" instance="InPost\InPostPay\Observer\Quote\UpdateInPostBasketEventObserver" />
    </event>
    <event name="checkout_cart_save_after">
        <observer name="InPost_InPostPay::updateInPostBasketAfterAddProductEventObserver" instance="InPost\InPostPay\Observer\Quote\UpdateInPostBasketAfterAddProductEventObserver" />
    </event>
    <event name="sales_quote_merge_before">
        <observer name="InPost_InPostPay::updateInPostBasketBeforeQuoteMergeEventObserver" instance="InPost\InPostPay\Observer\Quote\UpdateInPostBasketBeforeQuoteMergeEventObserver" />
    </event>
    <event name="sales_quote_address_collect_totals_before">
        <observer name="InPost_InPostPay::setDefaultCountryBeforeAddressCollectTotalsEventObserver" instance="InPost\InPostPay\Observer\Quote\SetDefaultCountryBeforeAddressCollectTotalsEventObserver" />
    </event>
    <event name="sales_quote_payment_import_data_before">
        <observer name="InPost_InPostPay::removeZeroTotalCheckFromInPostPayPaymentEventObserver" instance="InPost\InPostPay\Observer\Quote\Payment\RemoveZeroTotalCheckFromInPostPayPaymentEventObserver" />
    </event>
    <event name="sales_quote_merge_after">
        <observer name="InPost_InPostPay::updateInPostBasketAfterQuoteMergeEventObserver" instance="InPost\InPostPay\Observer\Quote\UpdateInPostBasketAfterQuoteMergeEventObserver" />
    </event>
    <event name="sales_quote_item_collection_products_after_load">
        <observer name="InPost_InPostPay::addImageGalleryToProductsCollectionEventObserver" instance="InPost\InPostPay\Observer\Quote\AddImageGalleryToProductsCollectionEventObserver"/>
    </event>
    <event name="customer_logout">
        <observer name="InPost_InPostPay::deleteBasketBidingApiCookieAfterCustomerLogout" instance="InPost\InPostPay\Observer\Customer\DeleteBasketBidingApiCookieAfterCustomerLogout" />
    </event>
    <event name="customer_login">
        <observer name="InPost_InPostPay::createOrUpdateBasketBidingApiCookieAfterCustomerLogin" instance="InPost\InPostPay\Observer\Customer\CreateOrUpdateBasketBidingApiCookieAfterCustomerLogin" />
    </event>
    <event name="sales_order_save_commit_after">
        <observer name="InPost_InPostPay::updateInPostOrderEventObserver" instance="InPost\InPostPay\Observer\Order\UpdateInPostOrderEventObserver" />
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="InPost_InPostPay::updateInPostOrderShipmentTrackEventObserver" instance="InPost\InPostPay\Observer\Order\Shipment\UpdateInPostOrderShipmentTrackEventObserver" />
    </event>
    <event name="sales_order_shipment_track_delete_after">
        <observer name="InPost_InPostPay::updateInPostOrderShipmentTrackEventObserver" instance="InPost\InPostPay\Observer\Order\Shipment\UpdateInPostOrderShipmentTrackEventObserver" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="InPost_InPostPay::deleteBindingAfterCheckoutPlacedOrderObserver" instance="InPost\InPostPay\Observer\Order\DeleteBindingAfterCheckoutPlacedOrderObserver" />
    </event>
    <event name="inpost_pay_order_success_action">
        <observer name="InPost_InPostPay::forceStatusUpdateObserver" instance="InPost\InPostPay\Observer\Order\ForceStatusUpdateObserver" />
    </event>
    <event name="inpost_pay_bestseller_product_save_before">
        <observer name="InPost_InPostPay::validateInPostPayBestsellerProductBeforeSaveObserver" instance="InPost\InPostPay\Observer\InPostPayBestsellerProduct\ValidateInPostPayBestsellerProductBeforeSaveObserver" />
    </event>
    <event name="inpost_pay_bestseller_product_delete_after">
        <observer name="InPost_InPostPay::inPostPayBestsellerProductAfterDeleteObserver" instance="InPost\InPostPay\Observer\InPostPayBestsellerProduct\InPostPayBestsellerProductAfterDeleteObserver" />
    </event>
    <!-- Events triggered when sending requests to IZI API Endpoints -->
    <event name="izi_api_send_request_before">
        <observer name="InPost_InPostPay::iziApiEndpointSendBeforeEventObserver" instance="InPost\InPostPay\Observer\IziEndpoint\Debug\IziApiEndpointSendBeforeEventObserver" />
    </event>
    <event name="izi_api_send_request_after">
        <observer name="InPost_InPostPay::iziApiEndpointSendAfterEventObserver" instance="InPost\InPostPay\Observer\IziEndpoint\Debug\IziApiEndpointSendAfterEventObserver" />
    </event>
    <!-- Events triggered when InPost sends requests to Merchants Endpoints -->
    <event name="izi_order_get_before">
        <observer name="InPost_InPostPay::iziOrderGetBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziOrderGetBeforeEventObserver" />
    </event>
    <event name="izi_order_get_after">
        <observer name="InPost_InPostPay::iziOrderGetAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziOrderGetAfterEventObserver" />
    </event>
    <event name="izi_order_update_before">
        <observer name="InPost_InPostPay::iziOrderUpdateBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziOrderUpdateBeforeEventObserver" />
    </event>
    <event name="izi_order_update_after">
        <observer name="InPost_InPostPay::iziOrderUpdateAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziOrderUpdateAfterEventObserver" />
    </event>
    <event name="izi_order_create_before">
        <observer name="InPost_InPostPay::iziOrderCreateBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziOrderCreateBeforeEventObserver" />
        <observer name="InPost_InPostPay::registerInPostPayOrderAccountEmailObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\RegisterInPostPayOrderAccountEmailObserver" />
    </event>
    <event name="inpost_pay_order_post_processing_steps_after">
        <observer name="InPost_InPostPay::deleteBindingAfterPlaceOrderObserver" instance="InPost\InPostPay\Observer\Order\DeleteBindingAfterPlaceOrderObserver" />
        <observer name="InPost_InPostPay::copyAnalyticsDataFromInPostPayQuoteToOrderEventObserver" instance="InPost\InPostPay\Observer\Order\CopyAnalyticsDataFromInPostPayQuoteToOrderEventObserver" />
    </event>
    <event name="izi_order_create_after">
        <observer name="InPost_InPostPay::sendAnalyticsPurchaseAfterOrderCreateEventObserver" instance="InPost\InPostPay\Observer\Order\Analytics\SendAnalyticsPurchaseAfterOrderCreateEventObserver" />
        <observer name="InPost_InPostPay::iziOrderCreateAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziOrderCreateAfterEventObserver" />
    </event>
    <event name="izi_basket_update_before">
        <observer name="InPost_InPostPay::iziBasketUpdateBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBasketUpdateBeforeEventObserver" />
    </event>
    <event name="izi_basket_update_after">
        <observer name="InPost_InPostPay::iziBasketUpdateAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBasketUpdateAfterEventObserver" />
    </event>
    <event name="izi_basket_get_before">
        <observer name="InPost_InPostPay::iziBasketGetBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBasketGetBeforeEventObserver" />
    </event>
    <event name="izi_basket_get_after">
        <observer name="InPost_InPostPay::iziBasketGetAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBasketGetAfterEventObserver" />
    </event>
    <event name="izi_basket_binding_delete_before">
        <observer name="InPost_InPostPay::iziBasketBindingDeleteBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBasketBindingDeleteBeforeEventObserver" />
    </event>
    <event name="izi_basket_binding_delete_after">
        <observer name="InPost_InPostPay::iziBasketBindingDeleteAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBasketBindingDeleteAfterEventObserver" />
    </event>
    <event name="izi_basket_confirmation_before">
        <observer name="InPost_InPostPay::iziBasketConfirmationBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBasketConfirmationBeforeEventObserver" />
    </event>
    <event name="izi_basket_confirmation_after">
        <observer name="InPost_InPostPay::iziBasketConfirmationAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBasketConfirmationAfterEventObserver" />
    </event>
    <event name="izi_bestseller_products_get_before">
        <observer name="InPost_InPostPay::iziBestsellerProductsGetBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBestsellerProductsGetBeforeEventObserver" />
    </event>
    <event name="izi_bestseller_products_get_after">
        <observer name="InPost_InPostPay::iziBestsellerProductsGetAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziBestsellerProductsGetAfterEventObserver" />
    </event>
    <event name="catalog_product_save_commit_after">
        <observer name="InPost_InPostPay::updateInPostPayBestsellerProductAfterSaveObserver" instance="InPost\InPostPay\Observer\Product\UpdateInPostPayBestsellerProductAfterSaveObserver" />
    </event>
    <event name="cataloginventory_stock_item_save_commit_after">
        <observer name="InPost_InPostPay::updateInPostPayBestsellerProductAfterSaveObserver" instance="InPost\InPostPay\Observer\Product\UpdateInPostPayBestsellerProductAfterStockItemSaveObserver" />
    </event>
    <event name="catalog_product_delete_before">
        <observer name="InPost_InPostPay::deleteInPostPayBestsellerProductAfterSaveObserver" instance="InPost\InPostPay\Observer\Product\DeleteInPostPayBestsellerProductAfterSaveObserver" />
    </event>
    <event name="izi_init_basket_before">
        <observer name="InPost_InPostPay::iziInitBasketBeforeEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziInitBasketBeforeEventObserver" />
    </event>
    <event name="izi_init_basket_after">
        <observer name="InPost_InPostPay::iziInitBasketAfterEventObserver" instance="InPost\InPostPay\Observer\MerchantEndpoint\Debug\IziInitBasketAfterEventObserver" />
    </event>
    <event name="salesrule_rule_save_after">
        <observer name="InPost_InPostPay::cleanPromotionsCacheAfterRuleSave" instance="InPost\InPostPay\Observer\SalesRule\SalesRuleSaveEventObserver" />
    </event>

    <event name="salesrule_rule_condition_combine">
        <observer name="InPost_InPostPay::addInPostPayOrderCondition" instance="InPost\InPostPay\Observer\AddInPostPayOrderCondition" />
    </event>

    <!-- Email Events:: observer set InPost Pay Order in process registry so that email copy can be also sent to InPost Pay Account email address -->
    <event name="email_order_comment_set_template_vars_before">
        <observer name="InPost_InPostPay::inPostPayOrderCommentEmailSenderObserver" instance="InPost\InPostPay\Observer\Order\Email\Sender\InPostPayOrderEmailSenderObserver" />
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="InPost_InPostPay::inPostPayOrderEmailSenderObserver" instance="InPost\InPostPay\Observer\Order\Email\Sender\InPostPayOrderEmailSenderObserver" />
    </event>
    <event name="email_shipment_comment_set_template_vars_before">
        <observer name="InPost_InPostPay::inPostPayShipmentCommentEmailSenderObserver" instance="InPost\InPostPay\Observer\Order\Email\Sender\InPostPayOrderEmailSenderObserver" />
    </event>
    <event name="email_shipment_set_template_vars_before">
        <observer name="InPost_InPostPay::inPostPayShipmentEmailSenderObserver" instance="InPost\InPostPay\Observer\Order\Email\Sender\InPostPayOrderEmailSenderObserver" />
    </event>
    <event name="email_invoice_comment_set_template_vars_before">
        <observer name="InPost_InPostPay::inPostPayInvoiceCommentEmailSenderObserver" instance="InPost\InPostPay\Observer\Order\Email\Sender\InPostPayOrderEmailSenderObserver" />
    </event>
    <event name="email_invoice_set_template_vars_before">
        <observer name="InPost_InPostPay::inPostPayInvoiceEmailSenderObserver" instance="InPost\InPostPay\Observer\Order\Email\Sender\InPostPayOrderEmailSenderObserver" />
    </event>
    <event name="email_creditmemo_comment_set_template_vars_before">
        <observer name="InPost_InPostPay::inPostPayCreditmemoCommentEmailSenderObserver" instance="InPost\InPostPay\Observer\Order\Email\Sender\InPostPayOrderEmailSenderObserver" />
    </event>
    <event name="email_creditmemo_set_template_vars_before">
        <observer name="InPost_InPostPay::inPostPayCreditmemoEmailSenderObserver" instance="InPost\InPostPay\Observer\Order\Email\Sender\InPostPayOrderEmailSenderObserver" />
    </event>
</config>
