<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Authorization\PolicyInterface">
        <plugin name="InPost_InPostPay::signatureValidationPolicyPlugin"
                type="InPost\InPostPay\Plugin\Authorization\SignatureValidationPolicyPlugin"/>
    </type>
    <type name="Magento\Webapi\Controller\Rest\SynchronousRequestProcessor">
        <plugin name="InPost_InPostPay::allowLowerCasePrefixForWebapiRestEndpointsPlugin"
                type="InPost\InPostPay\Plugin\Controller\Rest\AllowLowerCasePrefixForWebapiRestEndpointsPlugin"/>
    </type>
    <type name="Magento\Framework\Webapi\Rest\Response\Renderer\Json">
        <plugin name="InPost_InPostPay::modifyExceptionResultPlugin"
                type="InPost\InPostPay\Plugin\Webapi\Rest\ModifyExceptionResultPlugin"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Config">
        <plugin name="InPost_InPostPay::addAdditionalQuoteProductAttributesPlugin"
                type="InPost\InPostPay\Plugin\Quote\AddAdditionalQuoteProductAttributesPlugin" />
    </type>
    <type name="InPost\InPostPay\Api\ApiConnector\Merchant\OrderCreateInterface">
        <plugin name="InPost_InPostPay::orderCreateExecutionTimePlugin"
                type="InPost\InPostPay\Plugin\Service\ApiConnector\Merchant\OrderCreateExecutionTimePlugin"/>
    </type>
    <type name="InPost\InPostPay\Observer\Product\UpdateBestsellerProductAfterAttributeCommitObserver">
        <arguments>
            <argument name="logger" xsi:type="object">InPost\InPostPay\Logger\InPostPayLogger</argument>
        </arguments>
    </type>
    <type name="InPost\InPostPay\Plugin\Service\ApiConnector\Merchant\OrderCreateExecutionTimePlugin">
        <arguments>
            <argument name="logger" xsi:type="object">InPost\InPostPay\Logger\InPostPayLogger</argument>
        </arguments>
    </type>
</config>
